{% extends 'base.html' %}
<!--Title of the page-->
{% block title %}
Connexion
{% endblock %}

{% block body %}
{% if form.errors %}
<p>Votre nom d'utilisateur et votre mot de passe ne correspondent pas. 
    Réessayez d'il vous plaît.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Votre compte ne vous permet pas d'accéder à cett page. Merci
            de vous connecter avec un compte ayant les permissions requises
        </p>
    {% else %}
        <p>Veuillez vous connecter pour accéder à cette page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
    <tr>
    <td>Nom d'utilisateur :</td>
    <td>{{ form.username }}</td>
    </tr>
    <tr>
    <td>Mot de passe :</td>
    <td>{{ form.password }}</td>
    </tr>
</table>
<input type="submit" value="Connexion" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}