{% extends 'base.html' %}
{% block title %}Topoguide - Index{% endblock %}
{% block css%}
table {
    width : 100%;
}
td,th {
    text-align: left;
}
{% endblock %}

{% block body %}

<h1>Itineraires</h1>
{% if route_list %}
<table>
    <tr>
        <th>Itineraire</th>
        <th>Durée estimée</th>
        <th>Difficulté estimée</th>
    </tr>
    {% for route in route_list %}
    <tr>
        <td>
            <!--Change the link later-->
            <a href="{% url 'itineraires:sorties' route.id%}">
                {{ route.title }}</a>
        </td>
        <!--Better format to do-->
        <td>{{ route.time_formatted }}</td>
        <td>{{ route.estim_difficulty }}/5</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>No routes ?</p>
{% endif %}
<p style="text-align:right"> <a href="/accounts/logout">logout</a></p>

{% endblock %}