<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itineraires</title>
    <style>
        table {
            width : 100%;
        }
        td,th {
            text-align: left;
            width: 30%;
        }
    </style>
</head>
<body>
    <h1>Sorties de l'itinéraire</h1>
<p style="text-align:right"> <a href="/accounts/logout">logout</a></p>
</body>
</html>