{% extends 'base.html' %}
<!--Title of the page-->
{% block title %}
{{ route.title }} - Détails
{% endblock %}

{% block body %}

<h1>Sorties de {{ route.title }}</h1>
<table>
    <tr>
        <th>Altitude de départ</th>
        <td>{{ route.base_height }} m</td>
    </tr>
    <tr>
        <th>Altitude minimale</th>
        <td>{{ route.min_height }} m</td>
    </tr>
    <tr>
        <th>Altitude maximale</th>
        <td>{{ route.max_height }} m</td>
    </tr>
    <tr>
        <th>Dénivelé cumulé positif</th>
        <td>{{ route.pos_elev_gain }} m</td>
    </tr>
    <tr>
        <th>Dénivelé cumulé négatif</th>
        <td>{{ route.neg_elev_gain }} m</td>
    </tr>
    <tr>
        <th>Durée estimée</th>
        <td>{{ route.time_display }}</td>
    </tr>
    <tr>
        <th>Difficulté estimée</th>
        <td>{{ route.estim_difficulty }}/5</td>
    </tr>

</table>

{% if trip_list %}
<table>
    <tr>
        <th>Par</th>
        <th>Durée réelle</th>
        <th>Difficulté ressentie</th>
    </tr>
    {% for trip in trip_list %}
    <tr>
        <td>{{ trip.user.username }}</td>
        <td>{{ trip.time_display }}</td>
        <td>{{ trip.difficulty_felt }}/5</td>
        <td>
            <a href="{% url 'itin:detail_trip' trip.id%}">
                <button class="button-31" >Consulter</button>
            </a>
        </td>
        {% if user == trip.user%}
        <td> 
            <a href="{% url 'itin:detail_trip' trip.id%}">
                <button class="button-31" >Modifier</button>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
    <p class="rawtext">Pas de sorties enregistrées. <br> Vous pouvez en créer une 
    en cliquant sur le boutton ce dessous : </p>
{% endif %}


<form action = "{% url 'itin:new_trip' %}" method = "get">
    <button class="button-85" name="route_id" value="{{route.id}}"> Nouvelle sortie</button>
</form>


{% endblock %}