{% extends 'base.html' %}
{% block title %}Sortie de {{ trip.user.username }}{% endblock %}
{% block css%}
table {
    width : 100%;
}
td,th {
    text-align: left;
}
{% endblock %}

{% block body %}

<h1>{{ route.title }} - Sortie de {{ trip.user.username }}</h1>
<table>
    <tr>
        <th>date</th>
        <td>{{ trip.date }}</td>
    </tr>
    <tr>
        <th>actual_duration</th>
        <td>{{ trip.actual_duration }}</td>
    </tr>
    <tr>
        <th>number_people</th>
        <td>{{ trip.number_people }}</td>
    </tr>
    <tr>
        <th>group_xp </th>
        <td>{{ trip.get_group_xp_display}}</td>
    </tr>
    <tr>
        <th>weather</th>
        <td>{{ trip.get_weather_display}}</td>
    </tr>
    <tr>
        <th>difficulty_felt</th>
        <td>{{ trip.difficulty_felt }}/5</td>
    </tr>
</table>


<p> <a href="{% url 'it:detail' trip.id%}">Go back</a></p>
<p style="text-align:right"> <a href="/accounts/logout">logout</a></p>
{% endblock %}