{% extends 'base.html' %}
<!--Title of the page-->
{% block title %}
{% if create %}
Nouvelle Sortie
{% else %}
Modification Sortie
{% endif %}
{% endblock %}


{% block body %}
{% load force_dark %}
<!--Form-->
<form method="post">{% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
        <div class="fieldWrapper">
            {{ field.errors }}
            <td>
                {{ field.label_tag }}
            </td>
            <td>
                {{ field | addclass:'normal' }}
            </td>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        </tr>
        {% endfor %}
    </table>
    <input class="normal" type="submit" value="Save">
</form>

{% endblock %}