{% extends 'base.html' %}
<!--Title of the page-->
{% block title %}
Sortie de {{ trip.user.username }}
{% endblock %}

{% block body %}

<h1>
    <a href="{% url 'itin:detail_route' route.id%}">
        {{ route.title }} 
    </a> - Sortie de {{ trip.user.username }}
</h1>
<table>
    <tr>
        <th>Date de la sortie</th>
        <td>{{ trip.date }}</td>
    </tr>
    <tr>
        <th>Durée réelle</th>
        <td>{{ trip.time_display }}</td>
    </tr>
    <tr>
        <th>Nombre de participants</th>
        <td>{{ trip.number_people }}</td>
    </tr>
    <tr>
        <th>Expérience du groupe</th>
        <td>{{ trip.get_group_xp_display}}</td>
    </tr>
    <tr>
        <th>Conditions météo</th>
        <td>{{ trip.get_weather_display}}</td>
    </tr>
    <tr>
        <th>Difficulté ressentie</th>
        <td>{{ trip.difficulty_felt }}/5</td>
    </tr>
</table>

{% endblock %}